nav{
    margin: 0;
}
.navbarBrand{
    margin-left: 10vw;
    font-size: 2.7vh;
}
.Content{
    margin-top: 3vw;
}

@media (min-width: 1080px) { 
    .Content{
        margin-left: 37vw;
        margin-right: 37vw;
        min-width: 400px;
    }
}

@media (max-width: 1080px) { 
    .Content{
        margin-left: 27vw;
        margin-right: 27vw;
    }
}

@media (max-width: 700px) { 
    .Content{
        margin-left: 15vw;
        margin-right: 15vw;
    }
}